body {
  background: #d8d8d8;
}

img.logo {
  border-radius: 0.5rem;
}

.logo-color {
  color: rgba(255, 255, 255, 0.55);
}

.logo-color .bi {
  padding-left: 2rem;
}

.logo-color .bi span {
  font-style: normal;
}

.navbar {
  opacity: 0.95;
}

.highlights-value span {
  font-weight: 600;
}

.highlights-value {
  border-bottom: 1px solid #bfbfbf;
}

.carousel-caption {
  text-align: left;
  padding-bottom: none;
  left: 3%;
}

.carousel-caption h5 {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

.carousel-control-prev,
.carousel-control-next {
  width: 7%;
}

.card {
  border-radius: 0;
  width: auto;
  height: 13.5rem;
}

.small-img {
  width: auto;
  height: 8rem;
}

.card-body {
  padding: 0.5rem 0.5rem;
}

.ori-price-dis-price {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.game-name {
  font-size: 14px;
  opacity: 1;
  text-align: left;
  color: #1a1a1a;
}

.ori-price {
  display: flex;
  font-size: 10px;
  color: #999;
  text-align: right;
  font-weight: 600;
  align-self: flex-end;
  text-decoration: line-through;
}

.game-price {
  display: flex;
  font-size: 16px;
  color: #404040;
  font-weight: 500;
  text-align: right;
  align-self: flex-end;
}

.discount-percent {
  background: #78387b;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  padding: 2px 8px;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
}

.we-are-gog-border {
  align-items: center;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  padding: 10px 16px;
}

.purple-words {
  font-weight: 700;
  color: purple;
}

.bg-footer {
  background-color: #262626;
}

.contact-us {
  display: flex;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.legal {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

.language-currency {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  background-color: #2f2f2f;
}

.part-of {
  display: flex;
  flex-direction: row;
}

.discover-game-card {
  width: auto;
  height: 10.5rem;
  background-color: #d8d8d8;
  border-top: none;
  border-right: none;
  border-left: none;
}

.discover-game-img {
  width: 18.5rem;
  height: auto;
}

.discover-font {
  color: #595959;
}
